{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<head>
    <link
    href="{% static 'auctions/p2s.css' %}"
    rel="stylesheet"
     >
</head>

    <h2> {{listing.title}} </h2>
    <div class = pic_div>

          <img class = pic_in_list
          src= {{listing.image}}
          alt="Item Image not available"
          >
    </div>

    <div class="content" >

      <h4>Description:</h4>
      {{listing.descrip}}

    <br><br>

    <h5>Category:</h5>

    {{listing.category}}

    <br>
      Listing created by {{listing.seller}}


    <h5>Current Price:</h5>
    <div class=bid_price>

    <b> €{{listing.start_bid}} </b>
    </div>

    <!form action="{!% url 'place_bid' %}"
    method="post" class="new_bid">
      {% if user.is_authenticated %}
        {% csrf_token %}

        <!input class="form-control"
        type="text"
        name="bid"
        placeholder="Bid amount:">


    <!input class="btn btn-primary"
    type="submit"
    value="Place Bid">
    {% else %}
  <!div class = "normal">
        Sign in to place a bid.

    {% endif %}
    <!/form>

    <!/div>

        {% if user.is_authenticated %}
        <div>
            <a  href="{% url 'add_fave' listing.id %} "
            class="btn btn-primary" role = "button" >
            {{btn_name}}
            </a>
        </div>

        {% else %}
        <div class="normal">
            Sign in to add this Listing to your favourites.
        </div>
        {% endif %}



  </div>


{% endblock %}
