{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<head>
    <link
    href="{% static 'auctions/p2s.css' %}"
    rel="stylesheet"
     >
</head>

    <h2> {{listing.title}} </h2>
    <div class = pic_div>

          <img class = pic_in_list
          src= {{listing.image}}
          alt="Item Image not available"
          >
    </div>

    <div class="content" >

      <h4>Description:</h4>
      {{listing.descrip}}

    <br><br>

    <h5>Category:</h5>

    {{listing.category}}

    <br>
      Listing created by {{listing.seller}}
    <br>
      Created: {{listing.date}}
    {% if listing.last_bid %}
      Last Bid on {{listing.last_bid}}
    {%else%}
      Be the first user to place a bid!
    {%endif%}


    <h5>Current Price:</h5>
    <div class=bid_price>

    <b> €{{listing.start_bid}} </b>
    </div>

    {% if user.is_authenticated %}
    <div>
      <form action="{% url 'listing' listing.id %}"
      method="post"
      class="new_bid">

          {% csrf_token %}

          <input class="form-control"
          type="number" step="0.01"
          name="bid"
          placeholder="Bid amount:">
          <br>

          {% if message %}
              <div>{{ message }}</div>
          {% endif %}
          <br>



          <input class="btn btn-primary"
          type="submit"
          value="Place Bid">


      </form>
      <br>
      <div>
          <a  href="{% url 'add_fave' listing.id %} "
          class="btn btn-primary" role = "button" >
          {{btn_name}}
          </a>
      </div>

          {%if request.user == listing.seller %}
          <br>
          <div>
              <a  href="{% url 'add_fave' listing.id %} "
              class="btn btn-primary" role = "button" >
              End this Listing
              </a>
          </div>

          {% endif %}
    {% else %}
      <div class = "normal">
          Sign in to place a bid.
      </div>

      <div class="normal">
          Sign in to add this Listing to your favourites.
      </div>

    {% endif %}

  </div>


{% endblock %}
